# PyCity Schools Analysis

There are 15 total schools included in PyCity.  There are a total of 39,170 students, and the district total budget is about $25,650,000.  Eight of the 15 schools are charter schools.  All of the schools range in size of enrollment from 427 students on the low end, all the way up to 4,719 students.  All but 3 of the shools have enrollments greater than 1500 students.

Student Math and Reading scores were merged with data about the schools in order to do an analysis of the results.  One takeaway is that the Charter Schools generally have lower per student Budgets.  In addition, the highest performing schools, in terms of percent of students passing both math and reading, were all Charter schools. The bottom 5 performing schools were all District schools.  

Comparing bins of spending ranges to math and reading results showed that schools with the lowest per student budgets had higher rates of passing math and reading.  Schools that spent more per students had lower passing rates.  This seems counterintuitive.  One would think that spending more would likely help at least some schools to raise results well enough to positively affect the averages.  This may be partially explained by looking at the size of the schools.  Small and medium schools (less than 2000 students) had relatively higher passing rates and lower per student budgets.  Passing rates for large schools were quite a bit lower, and these schools, on average, have higher spending per student.  It seems that perhaps there is something about running a large school that requires more money and does not provide the same high achievement.
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schools_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset.  
data_complete = pd.merge(student_df, schools_df, how="left", on=["school_name", "school_name"])

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = len(schools_df["school_name"])
school_count

15

In [3]:
# Calculate the total number of students
student_count = len(student_df["Student ID"].unique())
print(student_count)

# enrollments
enrollments= schools_df["size"].unique()
print(enrollments)
enrollments_total = enrollments.sum()

enrollments_total

39170
[2917 2949 1761 4635 1468 2283 1858 4976  427  962 1800 3999 4761 2739
 1635]

39170

In [4]:
schools_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
# Calculate the total budget
budgets_all = schools_df["budget"].sum()
print(budgets_all)

24649428

In [6]:
# Calculate the average (mean) math score
avg_math_score = data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
avg_reading_score = data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = data_complete[(data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = data_complete[(data_complete["reading_score"] >= 70)].count()["student_name"] 
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = data_complete[
    (data_complete["math_score"] >= 70) & (data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([{"Total Schools":school_count,"Total Students":student_count,
                                  "Total Budget":budgets_all,"Average Math Score": avg_math_score,
                                  "Average Reading Score":avg_reading_score,"% Passing Math":passing_math_percentage,
                                  "% Passing Reading":passing_reading_percentage,"% Overall Passing":overall_passing_rate}])


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [12]:
# Use the code provided to select all of the school types
data_complete.head()

school_types = schools_df.set_index('school_name')['type']
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
# Calculate the total student count per school

per_school_stud_count = schools_df.set_index('school_name')['size']
per_school_stud_count

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [14]:
# Calculate the total school budget and per capita spending per school
# school budgets
per_school_budget = schools_df.set_index('school_name')['budget']
per_school_budget


per_school_capita = per_school_budget/per_school_stud_count
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [15]:
# Calculate the average test scores per school

 
math_avgs = (data_complete.groupby('school_name')['math_score'].mean())
reading_avgs = (data_complete.groupby('school_name')['reading_score'].mean())
reading_avgs

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [16]:
# Calculate the number of students per school with math scores of 70 or higher

per_school_passing_math = data_complete[(data_complete["math_score"]>=70)]
per_school_passing_math
total_school_passing_math = per_school_passing_math.groupby(["school_name"]).size()
total_school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher
per_school_passing_reading = data_complete[(data_complete["reading_score"]>=70)]
per_school_passing_reading
total_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).size()
total_school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
per_school_passing_both = data_complete[(data_complete["reading_score"]>=70) & (data_complete["math_score"]>=70)]
per_school_passing_both
total_school_passing_both = per_school_passing_both.groupby(["school_name"]).size()
total_school_passing_both

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [19]:
# Use the provided code to calculate the passing rates
# per_school_passing_math = school_students_passing_math / per_school_counts * 100
# per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
# overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

per_school_math_percent = total_school_passing_math/per_school_stud_count *100
per_school_math_percent

per_school_reading_percent = total_school_passing_reading/per_school_stud_count *100
per_school_reading_percent

per_school_both_percent = total_school_passing_both/per_school_stud_count *100
per_school_both_percent

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type":school_types, "Student Count":per_school_stud_count, "Budget":per_school_budget, "Budget per Student":per_school_capita,
                                   "Average Math Score":math_avgs, "Average Reading Score":reading_avgs, "Percent Passing Math":per_school_math_percent,
                                   "Percent Passing Reading":per_school_reading_percent, "Percent Passing Both":per_school_both_percent})
# Display the DataFrame
per_school_summary

,School Type,Student Count,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [21]:
# Formatting
#per_school_summary["Budget per Student"] = per_school_summary["Budget per Student"].map("${:,.2f}".format)

## Highest-Performing Schools (by % Overall Passing)

In [22]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by=["Percent Passing Both"], ascending=False)
top_schools.head(5)

,School Type,Student Count,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [23]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by=["Percent Passing Both"], ascending=True)
bottom_schools.head(5)

,School Type,Student Count,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = data_complete[(data_complete["grade"] == "9th")]
tenth_graders = data_complete[(data_complete["grade"] == "10th")]
eleventh_graders = data_complete[(data_complete["grade"] == "11th")]
twelfth_graders = data_complete[(data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_school = ninth_graders.groupby(["school_name"])                       
ninth_grade_math_scores=(ninth_grade_math_school["math_score"].mean())

tenth_grade_math_school = tenth_graders.groupby(["school_name"])
tenth_grade_math_scores = (tenth_grade_math_school["math_score"].mean())

eleventh_grade_math_school = eleventh_graders.groupby(["school_name"])                       
eleventh_grade_math_scores=(eleventh_grade_math_school["math_score"].mean())

twelfth_grade_math_school = twelfth_graders.groupby(["school_name"])                       
twelfth_grade_math_scores=(twelfth_grade_math_school["math_score"].mean())

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`

math_scores_by_grade = pd.DataFrame({"9th Grade":ninth_grade_math_scores, "10th Grade":tenth_grade_math_scores, 
                                     "11th Grade":eleventh_grade_math_scores, "12th Grade":twelfth_grade_math_scores})

# Display the DataFrame
math_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

In [25]:

# Group by `school_name` and take the mean of the `reading_score` column for each.
ninth_grade_reading_school = ninth_graders.groupby(["school_name"])                       
ninth_grade_reading_scores = (ninth_grade_reading_school["reading_score"].mean())

tenth_grade_reading_school = tenth_graders.groupby(["school_name"])
tenth_grade_reading_scores = (tenth_grade_reading_school["reading_score"].mean())

eleventh_grade_reading_school = eleventh_graders.groupby(["school_name"])                       
eleventh_grade_reading_scores = (eleventh_grade_reading_school["reading_score"].mean())

twelfth_grade_reading_school = twelfth_graders.groupby(["school_name"])                       
twelfth_grade_reading_scores = (twelfth_grade_reading_school["reading_score"].mean())


# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th Grade":ninth_grade_reading_scores, "10th Grade":tenth_grade_reading_scores, 
                                     "11th Grade":eleventh_grade_reading_scores, "12th Grade":twelfth_grade_reading_scores})


# Minor data wrangling
#reading_scores_by_grade = reading_scores_by_grade[["9th grade", "10th grade", "11th grade", "12th grade"]]
#reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

In [26]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [27]:
# Create a copy of the school summary since it has the "Per Student Budget" 
organized_df = per_school_summary.copy()
organized_df

,School Type,Student Count,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [28]:
# Use `pd.cut` to categorize spending based on the bins.
organized_df["Spending Ranges(Per Student)"]=pd.cut(organized_df["Budget per Student"],spending_bins, labels=labels)

spending_math_scores = organized_df.groupby(["Spending Ranges(Per Student)"], observed=False)["Average Math Score"].mean()
spending_reading_scores = organized_df.groupby(["Spending Ranges(Per Student)"], observed=False)["Average Reading Score"].mean()
spending_passing_math = organized_df.groupby(["Spending Ranges(Per Student)"],observed=False)["Percent Passing Math"].mean()
spending_passing_reading = organized_df.groupby(["Spending Ranges(Per Student)"],observed=False)["Percent Passing Reading"].mean()
overall_passing_spending = organized_df.groupby(["Spending Ranges(Per Student)"],observed=False)["Percent Passing Both"].mean()

spending_passing_reading

Spending Ranges(Per Student)
<$585       96.610877
$585-630    92.718205
$630-645    84.391793
$645-680    81.133951
Name: Percent Passing Reading, dtype: float64

In [29]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score":spending_math_scores, "Average Reading Score":spending_reading_scores, 
                                     "% Passing Math":spending_passing_math, "% Passing Reading":spending_passing_reading, "% Overall Passing":overall_passing_spending})

# Formatting
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:,.1f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:,.1f}".format)
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:,.1f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:,.1f}%".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:,.1f}%".format)

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
<$585,83.5,83.9,93.5%,96.6%,90.4%
$585-630,81.9,83.2,87.1%,92.7%,81.4%
$630-645,78.5,81.6,73.5%,84.4%,62.9%
$645-680,77.0,81.0,66.2%,81.1%,53.5%

## Scores by School Size

In [30]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [31]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

organized_df["Total Students Ranges"]=pd.cut(organized_df["Student Count"],size_bins, labels=labels)

organized_df

,School Type,Student Count,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both,Spending Ranges(Per Student),Total Students Ranges
school_name,,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585,Medium (1000-2000)

In [32]:
# Calculate averages for the desired columns. 
size_math_scores = organized_df.groupby(["Total Students Ranges"],observed=False)["Average Math Score"].mean()
size_reading_scores = organized_df.groupby(["Total Students Ranges"],observed=False)["Average Reading Score"].mean()
size_passing_math = organized_df.groupby(["Total Students Ranges"],observed=False)["Percent Passing Math"].mean()
size_passing_reading = organized_df.groupby(["Total Students Ranges"],observed=False)["Percent Passing Reading"].mean()
size_passing_overall = organized_df.groupby(["Total Students Ranges"],observed=False)["Percent Passing Both"].mean()
size_student_budget = organized_df.groupby(["Total Students Ranges"],observed=False)["Budget per Student"].mean()
size_student_budget

Total Students Ranges
Small (<1000)         595.000
Medium (1000-2000)    605.600
Large (2000-5000)     635.375
Name: Budget per Student, dtype: float64

In [33]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`

size_summary = pd.DataFrame({"Average Math Score":size_math_scores, "Average Reading Score":size_reading_scores, 
                                     "% Passing Math":size_passing_math, "% Passing Reading":size_passing_reading, "% Overall Passing":size_passing_overall})

size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:,.1f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:,.1f}".format)
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:,.1f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:,.1f}%".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:,.1f}%".format)

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Total Students Ranges,,,,,
Small (<1000),83.8,83.9,93.6%,96.1%,89.9%
Medium (1000-2000),83.4,83.9,93.6%,96.8%,90.6%
Large (2000-5000),77.7,81.3,70.0%,82.8%,58.3%

## Scores by School Type

In [34]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["Percent Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["Percent Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["Percent Passing Both"].mean()

In [35]:
# Assemble the new data by type into a DataFrame called `type_summary`

type_summary = pd.DataFrame({"Average Math Score":average_math_score_by_type, "Average Reading Score":average_reading_score_by_type, 
                                     "% Passing Math":average_percent_passing_math_by_type, "% Passing Reading":average_percent_passing_reading_by_type, "% Overall Passing":average_percent_overall_passing_by_type})

type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:,.1f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:,.1f}".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:,.1f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:,.1f}%".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:,.1f}%".format)

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,93.6%,96.6%,90.4%
District,77.0,81.0,66.5%,80.8%,53.7%